:root {
  --board-square-size: 50px;
  --dark-color: #2e2e2e;
  --light-color: #a9a9a9;
  --board-bg-color: #5e5e5e;
  --button-bg-color: #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: var(--dark-color);
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: var(--board-bg-color);
  color: var(--light-color);
  border: 1px solid var(--light-color);
  float: left;
  font-size: 24px;
  font-weight: bold;
  width: var(--board-square-size);
  height: var(--board-square-size);
  line-height: var(--board-square-size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus, .game-info li button:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-info li {
  list-style: none;
  margin: 2px;
}

.game-info li button {
  background-color: var(--light-color);
  border-color: var(--button-bg-color);
  color: var(--dark-color);
  width: 150px;
}

.game-info .current-step button {
  font-weight: 900;
}

.game-info .game-status {
  color: var(--light-color);
  height: var(--board-square-size);
  line-height: var(--board-square-size);
  font-size: 35px;
}

.game-info .moves-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(var(--board-square-size) * 2);
}
